CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/build
/.idea
/.claude
/data
/minecraft-merged-3d8452229c-1.21.6-net.fabricmc.yarn.1_21_6.1.21.6+build.1-v2
