[Desktop Entry]
Name=Zerith
Comment=Vulkan Application
Exec=Zerith
Icon=zerith
Terminal=false
Type=Application
Categories=Graphics;
Keywords=vulkan;graphics;