[Desktop Entry]
Name=Zerith
Comment=Vulkan Application
Exec=/usr/bin/resources/zerith
Icon=zerith
Terminal=false
Type=Application
Categories=Graphics;
Keywords=vulkan;graphics;